
body{
    background-color:rgb(245, 245, 247) ;  
    font-family: "Poetsen One", sans-serif;
    font-style: normal;   
    padding: 10px; 
    
}

p{
    font-size: 30px;
}

a{
    text-decoration: none;
    color: black;
}

#header{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgb(241, 225, 225);
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}


.topic a:hover{
    background-color: rgb(246, 255, 232);
}



.box{
    flex-wrap: wrap;
    align-content: center;
}

h1 {
    text-align: center;
    color: rgb(242, 0, 0);
    font-size: 4rem;
   
   
}

h2{
    text-align: center;
    font-size: 3rem;

}

h3{
    font-size:2rem ;
}

#content{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.topic{
    background-color: rgb(210, 230, 210);
    text-align: center;
    padding: 50px;
}



@media (min-width:10px) and (max-width: 480px) {
    body{
    max-width: 80%;
      background-color: wheat;
      display: inline-block; 
      margin-right: 50px;
    }

    #content{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    

        
    }

    .topic{
        background-color: rgb(210, 230, 210);
        text-align: center;
        padding:10px;
        margin:1%;
    }
    
}